
.dropdownClass {
  border: 0.75px solid #e9ecef;
  width: 113px;
  display: inline-block;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  z-index: 1;
}
.radioButtondiv {
  margin: 5px 0px 0px 10px;
}
.displayfilter {
  float: left;
  border-bottom: 1.5px dotted #000000;
}
.cursor {
  cursor: pointer;
}
.daterange-container {
  position: relative;
}

