.new-modal-component {
    // min-height: 600px;
    width: 75%;
  
    .new-modal-bottom-container {
      padding: 0;
    }
}
html.v2 {
  overflow: hidden !important;
}
.modelContainer {
	margin: 25px;
}
.height35 {
	height: 32px;
}
.marginTop50 {
  	margin-top: 50px;
}
.defaultCheckbox {
  float: left;
  margin: 5px;
}
.customeButtonClass{
  margin-right: 20px;
}
.errorClass{
  font-size: 12px;
  color: red;
}
.smsNotice {
  font-size: 12px;
}
.loadingdiv {
  margin-bottom: 50px;
}
.disabled {
  pointer-events: none;
}