<div *ngIf='isVisible' class='reveal-overlay '>
    <div class='reveal new-modal-component' [ngClass]='cssClasses'>
        <div class='top-container'>
            <div class='title-container'>
                <h3>{{ title }}</h3>
                <button class='close-button' data-close='' aria-label='Close modal' type='button' (click)='onCloseHandler($event)'>
                    <img class='close-icon' [src]='closeIcon' alt="Close icon">
                </button>
            </div>
        </div>
        <div class='new-modal-bottom-container modelContainer'>
            <div class='small-12 columns'>
                <div class='row'>
                    <div class='small-3 columns'>
                        <span>
                            <b>Description:</b>
                        </span>
                    </div>
                    <div class='small-8 columns'>
                        <textarea placeholder="Description" name="description" [(ngModel)]="description"></textarea>
                    </div>
                </div>
            </div>
            <div class='small-12 columns marginTop50 text-center'>
                <button name="cancel-button" (click)="onCloseHandler($event)" class='button cancelButton'>Cancel</button>
                <button name="save-button" *ngIf="editRecordId===0" (click)="save($event)" [ngClass]="{'disabled':showLoading}" class='button primary'>Save</button>
                <button name="update-button" *ngIf="editRecordId!=0" (click)="update($event)" [ngClass]="{'disabled':showLoading}" class='button primary'>Update</button>
            </div>
            <div class="small-12 columns loadingdiv" *ngIf='showLoading'>
                <div class="loading dots-loader">Loading...</div>
            </div>
        </div>
    </div>
</div>

<div class='toast-container'>
    <top-toast [messages]='errorList' (onHidden)="toastIsHidden($event)"></top-toast>
</div>
