<div class='tables call-route-grid-table'>
	<div class='small-8 medium-10 large-12 columns'>
		<div class='row'>
			<div class='small-12'>
				<table>
					<tr class='headers-row'>
						<th>NAME</th>
						<th>ADDRESS 1</th>
						<th>ADDRESS 2</th>
						<th>CITY</th>
						<th>STATE</th>
						<th>ZIP</th>
						<th>MAIN PHONE</th>
						<th></th>
					</tr>
					<tr *ngFor='let item of listData; let i = index;'>
						<td>
							<span>{{item.location_name}}</span>
						</td>
						<td>
							<span>{{item.address1}}</span>
						</td>
						<td>
							<span>{{item.address2}}</span>
						</td>
						<td>
							<span>{{item.city}}</span>
						</td>
						<td>
							<span>{{item.province}}</span>
						</td>
						<td>
							<span>{{item.postal}}</span>
						</td>
						<td>
							<span>{{item.phone}}</span>
						</td>
						<td>
							<div class='row'>
								<div class='small-offset-10 small-1' *ngIf="item.api_type===0" >
									<tooltip tooltipText='EDIT' tooltipColor='#0E2D52' tooltipTextColor='white' position='left'>
										<div class='edit-icon' (click)='onEditMode(item.location_id)'></div>
									</tooltip>
								</div>
								<div class='small-offset-10 small-1' *ngIf="item.api_type===1" >Api</div>
							</div>
						</td>
					</tr>
					<tr *ngIf='listData.length===0'>
						<td>
							<span>No data available in table.</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div class='toast-container'>
	<top-toast [messages]='errorList' (onHidden)="toastIsHidden($event)"></top-toast>
</div>

<!-- Modal to confirm delete -->
<modal-alert message='Are you sure you want to delete this API key?' title='Warning' *ngIf='isDeleteModalVisible' (onLeftButton)='onConfirm($event)'
 (onRightButton)='onCancel($event, "delete")' (onClose)='hideModal($event, "delete")' type='warning' leftButtonText='Confirm'
 rightButtonText='Cancel' isModalInsideOfContentArea='true'>
</modal-alert>