
.marginTopBottom20 {
  margin: 20px 0px;
}
.displayInventoryType {
  margin: 10px 0px;
}
.marginRight7{
  margin-right: 7px;
}
.marginRight22 {
  margin-right: 22px;
}
.cursorPointer {
  cursor: pointer;
}
.lableNamerowContent:hover {
  background: #F5F9A7;
  cursor: pointer;
    background-image: url(assets/img/edit.png);
    background-repeat: no-repeat;
    background-position: right;
}
.marginRight60 {
  margin-right: 60px;
}