<div class="row marginTop20">
    <div class='small-12 medium-12 large-12'>
        <div class='row'>
            <div class='small-4 columns marginTopBottom20'>
                <b>Discounts</b>
            </div>
        </div>
    </div>
</div>

<div class="row marginTop20">
    <div class='small-12 medium-12 large-12'>
        <div class='containentDiv'>
            <div class=" discountNameDiv">
                <div class="row"></div>
                <form [formGroup]="inventoryTypesForm">
                    <div class="row" formArrayName="typesProperties" *ngFor="let item of typesProperties.controls; let i = index; let last = last;">
                        <div [formGroupName]="i" [ngClass]="(inventoryDiscountArray[item.value.discount_id])?'width100':'width100 lableNamerowContent'">
                            <div *ngIf="!inventoryDiscountArray[item.value.discount_id]" class='small-6 columns displayInventoryType'>
                                <span (click)="onEditDiscountName(i);">{{item.value.discount_name}}</span>
                            </div>
                            <div *ngIf="inventoryDiscountArray[item.value.discount_id]" class='small-6 columns float-left'>
                                <input type="text" formControlName="discount_name" value="{{item.value.discount_name}}" placeholder="Enter discount name"
                                />
                            </div>
                            <div class='small-3 marginRight7 float-left'>
                                <button *ngIf="inventoryDiscountArray[item.value.discount_id] && item.value.status==='old'" class="button primary tiny customeButton"
                                    (click)="updateDiscount(i)">save</button>
                            </div>
                            <div class='small-3 float-left'>
                                <button *ngIf="inventoryDiscountArray[item.value.discount_id] && item.value.status==='old'" class="button primary tiny customeButton"
                                    (click)="cancelDiscount(i)">cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class=" itemsContainer">
                <div class="row rowTitle">
                    <div class=' titleHead' *ngFor="let lable of inventoryTypeLableArr">
                        <span class="typeName">{{lable}}</span>
                    </div>
                    <div class=' titleHead'>
                            <span class="typeName"></span>
                        </div>
                </div>
                <div class="row rowTitle" *ngFor="let item of inventoryDiscountTypeArray; let i = index; let last = last;">
                    <div class='minwidth50 titleColumn'>
                        <input type="checkbox" (change)="onCheckAll(i, $event.target.checked)" value="" />
                    </div>
                    <div class='minwidth50 titleColumn' *ngFor="let item1 of item; let j = index;">
                        <input [disabled]="allCheckArray[i].allChecked" [checked]="item1.has_discount==='1'" (change)="onChangeCheckbox(i, item1.inventory_type_id, $event.target.checked)"
                            type="checkbox" />
                    </div>

                    <div class='minwidth50 titleColumn' *ngIf="1!=typesProperties.controls.length  && (i+1)!=typesProperties.controls.length">
                        <img class="cursorPointer" (click)="removeInventoryType(i)" src="assets/img/x.png" alt="">
                    </div>
                    <div class='minwidth50 titleColumn' *ngIf="(i+1)===typesProperties.controls.length">
                        <img class="cursorPointer" (click)="onAddInventoryTypeProperty()" src="assets/img/plus_blue.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class='row margin-top20' *ngIf="!showLoading">
            <div class='small-12 columns text-right'>
                <button class="ivrAddNewButton button small" (click)="back()">Back</button>
                <button class="ivrAddNewButton button primary small" (click)="save()">Finish</button>
            </div>
        </div>
    </div>
</div>