
.marginTopBottom20 {
  margin: 20px 0px;
}
.displayInventoryType {
  margin: 10px 0px;
}
.marginRight7{
  margin-right: 7px;
}
.marginRight22 {
  margin-right: 22px;
}
.cursorPointer {
  cursor: pointer;
}
.width50 {
  width: 80px;
}

.marginRight30 {
  margin-right: 30px;
}
.marginRight50 {
  margin-right: 50px;
}
.typeName {
  transform: rotate(315deg);
  // display: inline-block;
  margin-bottom: 25px;
}

.lableNamerowContent:hover {
  background: #F5F9A7;
  cursor: pointer;
    background-image: url(assets/img/edit.png);
    background-repeat: no-repeat;
    background-position: right;
}
.marginRight60 {
  margin-right: 60px;
}
.customeButton {
  padding: 0.4em 2.7em 0.3em;
}
.width100 {
  width: 100%;
  height: 40px;
}
.minwidth50 {
  min-width: 75px;
}
.containentDiv {
  overflow: hidden;
}
.discountNameDiv {
  margin-top: 65px;
  width: 35%;
  float: left;
}
.itemsContainer {
  width: 65%;
  float: left;
  overflow: hidden;
  overflow-x: scroll;
}
.float-left {
  float: left;
}
.margin-top20 {
  margin-top: 20px;
}
.rowDiv {
  display:table;
}
.rowTitle {
  display: table-row;
}
.titleColumn {
  display: table-cell;
  height: 40px;
}
.titleHead {
  display: table-cell;
  padding: 30px 20px 10px 0px;
}
