<div class='tables call-route-grid-table'>
	<div class='small-8 medium-10 large-12 columns'>
		<div class='row'>
			<div class='small-12'>
				<table>
					<tr class='headers-row'>
						<th class='checkbox-column' *ngIf='type!==variableType.ALL'>
							<input type="checkbox" [checked]='checkedAll' (change)="checkAllRecords($event)" />
						</th>
						<th [ngClass]="sorterArray['lable']===''? 'sorteable': 'sorted ' + sorterArray['lable']" (click)="orderByNameOrder('lable')">LEAD TYPE</th>
						<th [ngClass]="sorterArray['api_type']===''? 'sorteable': 'sorted ' + sorterArray['api_type']" (click)="orderByNameOrder('api_type')">MANAGEMENT SOFTWARE</th>
						<th [ngClass]="sorterArray['transmission_type']===''? 'sorteable': 'sorted ' + sorterArray['transmission_type']" (click)="orderByNameOrder('transmission_type')">TRANSMIT TYPE</th>
						<th [ngClass]="sorterArray['followup_rule_id']===''? 'sorteable': 'sorted ' + sorterArray['followup_rule_id']" (click)="orderByNameOrder('followup_rule_id')">WORKFLOW RULE</th>
						<th></th>
					</tr>
					<tr *ngFor='let item of listData; let i = index;'>
						<td *ngIf='type!==variableType.ALL'>
							<input type="checkbox" [checked]='checkedAll' (change)="checkRecord($event, item.lead_type_id)" />
						</td>
						<td>
							<span>
								<div [ngClass]="(item.is_default===1)?'defaultClass defaultTrue':'defaultClass'"></div>{{item.lable}}</span>
						</td>
						<td>
							<span>{{apiTypeArr[item.api_type].name}}</span>
						</td>
						<td>
							<span>{{item.transmission_type}}</span>
						</td>
						<td>
							<span>{{item.followup_rule_id===locationDefault?'locationDefault':followupRuleArr[item.followup_rule_id]}}</span>
						</td>

						<td>
							<div class='row'>
								<div class='small-offset-10 small-1'>
									<tooltip tooltipText='EDIT' tooltipColor='#0E2D52' tooltipTextColor='white' position='left'>
										<div class='edit-icon icon' (click)='onEditMode(item.lead_type_id)'></div>
									</tooltip>
								</div>
							</div>
						</td>
					</tr>
					<tr *ngIf='listData.length===0'>
						<td></td>
						<td>
							<span>No data available in table.</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
