.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  min-width: 100px;
}

input[type='checkbox'] {
  width: 12px;
  height: 12px;
}

.call-routes-top-bar {
  background-color: #F5F7F9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  button {
    height: 20px;
    width: 190px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    padding: 2px;
  }
}

.call-routes-top-bar-container {
  background-color: #FFF;
  margin-bottom: 2px;
  border-bottom-color: #F3F3F3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

  > .row {
    height: 40px;
  }

  h2 {
    margin: 18px 0 13px 24px;
    text-transform: capitalize;
    color: #4E4E4E;
    font-size: 1.25rem;
  }

}

.disabled {
  pointer-events: none;
}
.cursorPointer {
  cursor: pointer;
}

.marginTop20 {
  margin-top: 20px;
}

/** css for tab */
.lead-card-view-container {
  border-radius: 5px;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  display: block;
}
.lead-card-view-menu {
  width: 100%;
  border-bottom: 1px solid #eff3f6;
  ul {
    padding-left: 16px;
    margin-top: 0px;
    li {
      display: inline-block;
      list-style: none;
      color: #95A5B7;
      font-family: "SF UI Text";
      font-size: 10px;
      line-height: 12px;
      margin-top: 16px;
      margin-right: 16px;
      cursor:pointer;
      .tab-title {
        height: 24px;
        width: auto;
        border-radius: 4px;
        display: inline-block;
        padding: 5px;
        font-size: 10px;
        text-align: center;
        &.active {
          background-color: #0075CD;
          color: #FFFFFF;
        }
      }
    }
    .find-units-button {
      margin-top: 6px;
      text-align: center;
      height: 25px;
      width: 58px;
      border-radius: 3px;
      background-color: #EDF5FE;
      color: #95A5B7;
      font-family: "SF UI Text";
      font-size: 13px;
      font-weight: 500;
      line-height: 15px;

      .webfont-ios-search {
        font-size: 8px;
        margin-right: 5px;
      }
    }
  }
}
.lead-card-header-container {
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #FBFBFB;
  border-bottom: 1px solid #EFF3F6;
  border-top: 1px solid #EFF3F6;
  position: relative;

  .tooltip {
    .tooltip-container {
      .hover-content {
          float: initial;
      }
    }
  }

  .inline {
    display: inline-block;
  }

  .icon-background {
    height: 16px;
    width: 23px;
    border-radius:3px;
    background-color: #EDF5FE;
    display: flex;
    margin-left: 3px;
    box-shadow: 0 1px 0 0 #95A5B7;

    &.call {
      margin-left: 8px;
    }

    &.sms {
      margin-right: 21px;
    }

    &.email {
      margin-right: 34px;
      margin-left: 8px;
    }

    i {
      color: #4F6278;
      font-size: 8px;
      padding: 4px;
      padding-left: 7px;

      &.sms {
        padding-top: 2px;
        padding-left: 7px;
        margin-right: 21px;
      }

      &.email {
        padding: 3px 4px 5px 7px;
      }
    }
  }

  i {
    cursor: pointer;
    color: #4F6278;
  }

  .info {
    display: inline-block;
  	color: #4F6278;
  	font-family: 'quattrocento_sans';
  	font-size: 14px;
  	font-weight: bold;
    margin-right: 16px;

    &.status {
      margin-right: 2px;
      text-transform: capitalize;
      // margin-bottom: 14px;
    }
  }

  .info-icon-container {
    position: relative;
    width: 23px;
    height: 20px;

    i {
      position: absolute;
      top: 3px;
    }
  }

  .title {
  	color: #95A5B7;
  	font-family: "SF UI Text";
  	font-size: 10px;
  	font-weight: 500;
    margin-left: 16px;
    margin-right: 16px;

    &.arrow {
      margin-left: 0;
    }
  }

  .type-pill {
  	height: 13px;
  	border-radius: 7px;
    display: inline-block;
    margin-right: 14px;
    margin-left: 8px;
    line-height: 13px;

    &.orange {
      background-color: #F5A623;
      width: 60px;
    }

    &.green {
      background-color: #B8E986;
      width: 37px;
    }

    p {
      color: #fff;
      font-family: "SF UI Text";
      font-size: 10px;
      text-transform: capitalize;
      padding-left: 7px;
      padding-right: 7px;
      margin: 0;
      font-weight: normal;
      display: block;
    }
  }

  .pop-over {
  	height: auto;
  	width: 349px;
  	background-color: rgba(0,0,0,0.75);
  	box-shadow: 0 0 33px 6px rgba(0,0,0,0.13);
    position: absolute;
    top: 36px;
    right: -9px;
    z-index: 2;

    .pop-over-content-container {
      padding: 18px 21px 16px 15px;

      p {
        color: #fff;
      	font-size: 14px;
        margin: 0;
        line-height: 1;

        &.location {
          margin-bottom: 9px;
        }
      }

      a {
      	color: #268FDE;
      	font-size: 14px;
        margin-bottom: 11px;
        margin-top: 0;
        cursor: pointer;
        text-decoration: none;
        line-height: 1;
      }

      .hours-container {
        display: flex;
        justify-content: space-between;

        div {
          width: 50%;

          p {
            margin-bottom: 4px;
          }
        }

        .hours-title {
          font-weight: bold;
          margin-top: 11px;
          margin-bottom: 8px;
        }
      }

      .address {
        line-height: 1;

        p {
          margin-bottom: 4px;
        }

        a {
          margin-bottom: 4px;
        }
      }
    }
  }
  .pop-over::after {
    border-style: solid;
    border-width: 0 13px 14px 13px;
    border-color: transparent transparent rgba(0,0,0,0.75) transparent;
    content: '';
    position: absolute;
    top: -13.5px;
    right: 10px;
  }

  .search {
    cursor: pointer;
  	height: 16px;
  	width: 51px;
  	border-radius: 3px;
  	background-color: #EDF5FE;
  	box-shadow: 0 1px 0 0 #95A5B7;
  	color: #4F6278;
  	font-family: "SF UI Text";
  	font-size: 7px;
  	font-weight: bold;
	// line-height: 9px;
    padding: 3px 7px 3px 4px;
    outline: none;
    margin-left: -12px;
    margin-right: 50px;

    i {
      margin-right: 2px;
    }
  }

  input {
    width: 100px;
  	width: 141px;
  	border: 1px solid #979797;
  	border-radius: 2px;
  	background-color: #FFFFFF;
  	color: #9B9B9B;
  	font-size: 14px;
  	line-height: 16px;
    margin-bottom: 2px;
  }

  .status-dropdown {
    height: 72px;
    width: 138px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 4px 1px rgba(0,0,0,0.1);
    position: absolute;
    top: 38px;
    padding-top: 5px;
    padding-left: 8px;

    p {
    	color: #797979;
    	font-family: "SF UI Text";
    	font-size: 14px;
    	line-height: 16px;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  .dropdown {
  	height: 72px;
  	width: 156px;
  	border-radius: 3px;
  	background-color: #FFFFFF;
  	box-shadow: 0 3px 4px 1px rgba(0,0,0,0.1);
    position: absolute;
    top: 38px;
    padding-top: 2px;

    p {
    	height: 16px;
    	width: 99px;
    	color: #797979;
    	font-family: "SF UI Text";
    	font-size: 14px;
      display: inline;
      margin-left: 14px;
      margin-top: 8px;
    }

    .title {
    	color: #4A4A4A;
    	font-family: "SF UI Text";
    	font-size: 8px;
    	font-weight: 500;
      margin-left: 6px;
      margin-right: 0;
    }

    .add {
    	color: #0075CD;
    	font-family: "SF UI Text";
    	font-size: 12px;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      margin-top: 0;
      width: 100%;
      margin-left: 0;
    }

    &.email {
      width: 180px;
    }
  }

  .dropdown-container {
    width: 22px;
    height: 24px;
  }

  .status-dropdown-container {
    width: 22px;
    height: 24px;
  }
}
