<div class='call-routes-container'>
    <div class="top-container">
        <div class='call-routes-top-bar-container'>
            <div class='row align-middle'>
                <div class='small-8'>
                    <h2>Manage Inventory For Simpson Storage - North</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class='row search-filters-call-routes-container'>
            <div class='small-2 columns search-filter search' *ngIf='!showLoading'>
            </div>

            <div class="small-12 columns text-center" *ngIf='showLoading'>
                <div class="loading dots-loader">Loading...</div>
            </div>
        </div>
        <div class='row'>
            <div class='small-12 medium-12 large-12 listDataDiv'>

                <div class='lead-card-view-container'>
                    <div class='row lead-card-view-menu'>
                        <ul>
                            <li (click)='selectTab(leadCardViewStates.TYPES)'>
                                <span class='tab-title' [ngClass]="{'active': view === leadCardViewStates.TYPES}">TYPES</span>
                            </li>
                            <li (click)='selectTab(leadCardViewStates.DETAILS)'>
                                <span class='tab-title' [ngClass]="{'active': view === leadCardViewStates.DETAILS}">DETAILS</span>
                            </li>
                            <li (click)='selectTab(leadCardViewStates.SPECIALS)'>
                                <span class='tab-title' [ngClass]="{'active': view === leadCardViewStates.SPECIALS}">SPECIALS</span>
                            </li>
                        </ul>
                    </div>
                    <div class='greeting-component-container' *ngIf='view === leadCardViewStates.TYPES'>
                        <inventory-type [location_id]="location_id" [parent_id]="parent_id" (handelLoading)="onHandelLoading($event)" (onChangeTab)="changeTab($event)" ></inventory-type>
                        <!-- <div class="row marginTop20">
                            <div class='small-12 medium-12 large-12'>
                                <div class='row'>
                                    <div class='small-4 columns'>
                                        <b>Inventory Type</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row marginTop20">
                            <div class='small-12 medium-12 large-12'>
                                <form [formGroup]="inventoryTypesForm">
                                    <div formArrayName="typesProperties" *ngFor="let item of typesProperties.controls; let i = index;">
                                        <div [formGroupName]="i">
                                            <div class='row'>
                                                <div class='small-4 columns'>
                                                    <input type="text" formControlName="type_name" placeholder="Enter inventory type" />
                                                </div>
                                                <div>
                                                    <img class="cursorPointer" *ngIf="1!=typesProperties.controls.length  && (i+1)!=typesProperties.controls.length" (click)="removeInventoryType(i)"
                                                        src="assets/img/x.png" alt="">
                                                </div>
                                                <div>
                                                    <img class="cursorPointer" *ngIf="(i+1)===typesProperties.controls.length" (click)="onAddInventoryTypeProperty()" src="assets/img/plus_blue.png"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='small-4 columns text-right'>
                                            <button class="ivrAddNewButton button" (click)="save()">Next</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                    <div class='lead-component-container' *ngIf='view === leadCardViewStates.DETAILS'>
                        <inventory-item [location_id]="location_id" [parent_id]="parent_id" (handelLoading)="onHandelLoading($event)" (onChangeTab)="changeTab($event)"></inventory-item>
                    </div>
                    <div class='customer-component-container' *ngIf='view === leadCardViewStates.SPECIALS'>
                        <inventory-specials [location_id]="location_id" [parent_id]="parent_id" (handelLoading)="onHandelLoading($event)" (onChangeTab)="changeTab($event)"></inventory-specials>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class='toast-container'>
    <top-toast [messages]='errorList' (onHidden)="toastIsHidden($event)"></top-toast>
</div>