.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  min-width: 100px;
}

input[type='checkbox'] {
  width: 12px;
  height: 12px;
}

.call-routes-top-bar {
  background-color: #F5F7F9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  button {
    height: 20px;
    width: 190px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    padding: 2px;
  }
}

.archive-filters {

 .archive-button {
    height: 22.5px;
    width: 96px;
    border: 1px solid #0075CD;
    border-radius: 4px;
    color: #0075CD;
    font-family: "SF UI Text";
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    cursor: pointer;
    margin-right: 19px;
    margin-top: 7px;
    float: right;

    .material-icons {
      font-size: 16px;
      vertical-align: middle;
    }

    .text {
      vertical-align: middle;
      margin-left: 5px;
    }

    &.disabled {
      cursor: not-allowed;
      border-color: #D7D8DF;
      .material-icons {
        color: #D7D8DF;
      }

      .text {
        color: #D7D8DF;
      }
    }
  }

  .filters-container {
    height: auto;
    float: right;
    margin-top: 7px;

    .filters {
      float: right;

      margin: 0;

      .button {
        margin: 0;
      }
    }
  }
}

.new-call-route-button-container {

  button {
    height: 20px;
    width: 190px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    padding: 2px;
    margin-right: 18px;
  }

}

.call-routes-top-bar-container {
  background-color: #FFF;
  margin-bottom: 2px;
  border-bottom-color: #F3F3F3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

  > .row {
    height: 40px;
  }

  h2 {
    margin: 18px 0 13px 24px;
    text-transform: capitalize;
    color: #4E4E4E;
    font-size: 1.25rem;
  }

  .new-call-route-button-container {
    text-align: right;
  }

  .new-call-route-button {
    margin-bottom: 0;
  }
}

.call-center-menu-container {
  border-bottom: 1px solid #E8E8E8;
}

.search-filters-call-routes-container {
  padding-top: 18px;
  margin: 0;

  *::-webkit-input-placeholder {
    color: #848484;
  }
}
// .bottom-container {
//   padding: 25px;
// }
// .top-container {
//   padding: 0px 25px;
// }
// .listDataDiv {
//   padding: 15px;
// }