.lead-follow-header {
  height: 27px;
  width: 58px;
  color: #444444;
  font-family: "SF UI Text";
  font-size: 22px;
  line-height: 27px;
}
.no-data-message {
  color: #2b2b2b;

  span {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.lead-follow-tabs {
  border: none;
  margin-top: 10px;
  margin-right: -24px;
  margin-bottom: -15px;
  margin-left: -24px;
  width: auto;
  height: 37px;

  .tab {
    height: 26px;
  }

  a {
    height: auto;
    line-height: 1.25;
    text-align: center;
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: -2px;

    &.all {
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  .tab-push {
    width: 21px;
    height: 35px;
    display: inline-block;
  }
}

.follow-up-pagination-container {
  display: flex;
  justify-content: flex-end;
}

.navigate {
  cursor: pointer;
  text-decoration: underline;
  color:blue;
}

.navigate:active {
  color: purple;
}
.dropdown {
  z-index: 9;
}
.showing {
  margin-right: 5px;
}
.from {
  padding: 0px 5px;
}
.dropdown .select {
  border: none;
}
.apply-button {
  height: 15px;
  width: 38px;
  border-radius: 4px;
  background-color: #0075CD;
  color: #FFFFFF;
  font-family: "SF UI Text";
  font-size: 10px;
  margin: 0px 20px;
  line-height: 12px;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}
.reset-button {
  height: 15px;
  width: 38px;
  border-radius: 4px;
  color: #0075CD;
  font-family: "SF UI Text";
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  margin-top: 5px;
  border: 1px solid #0075CD;
  cursor: pointer;
}
.new-design-filter {
  background-color: #edf3f9;
  padding: 13px 10px 10px 10px;
  border-radius: 5px;
}
.paginationDiv {
  padding-top: 10px;
}
.customFilterDisplay {
  margin-left: 10px;
}
.search-container {
  padding-right: 15.5px;
  input {
    height: 30px;
    width: 201.5px;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding-left: 28px;
    color: #95A5B7;
    font-family: "SF UI Text";
    font-size: 10px;
  }
}
.filter-static-word {
  color: #000000;
  font-family: "SF UI Text";
  font-size: 12px;
  line-height: 26px;
}
