
html, body {
  font-size: 10px;
  color: #555;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #efefef;
}

.app {
  display: flex;
  flex: 1;
  justify-content: center;
  .webchat {
    display: flex;
    width: 700px;
    height: 500px;
    .users-list-container {
      flex: .3;
      background-color: #fff;
      border: #eee 1px solid;
    }
    .messages-container {
      display: flex;
      flex: .7;
      flex-direction: column;
      padding: 10px;
      border: #eee 1px solid;
      background-color: #fff;
      .messages-list-container {
        flex: .8;
      }
      .new-message-container {
        flex: .2;
      }
    }
  }
}
