<div class='call-routes-container'>
	<div class="top-container">
		<div class='call-routes-top-bar-container'>
			<div class='row align-middle'>
				<div class='small-8'>
					<h2>Choose Location</h2>
				</div>
				<!-- <div class='small-offset-1 small-3 new-call-route-button-container'>
					<button class='button primary new-call-route-button' (click)='onNewButtonClick($event)'>Generate API key</button>
				</div> -->
			</div>
		</div>
	</div>
	<div class="bottom-container">
		<div class='row search-filters-call-routes-container'>
			<div class='small-2 columns search-filter search' *ngIf='!showLoading'>
				<!-- <input type='search' class=' search-input grey' [(ngModel)]="searchValue" placeholder='Search' (keyup)='onSearchKeyup($event)'> -->
			</div>

			<div class="small-2 columns loadingdiv" *ngIf='showLoading'>
				<div class="loading dots-loader">Loading...</div>
			</div>
		</div>
		<div class='row'>
			<div class='small-12 medium-12 large-12 listDataDiv'>
				<inventory-grid [filteredDatas]='filteredDatas' (afterAllData)='afterAllData($event)' (data)='catchData($event)'
				 (editMode)='onEditMode($event)' [type]='type' [refresh]='refresh'>
				</inventory-grid>
			</div>
		</div>
	</div>
</div>

<div class='toast-container'>
	<top-toast [messages]='errorList' (onHidden)="toastIsHidden($event)"></top-toast>
</div>
